/* Universal Styles */

:root {
  font: 16px / 1 sans-serif;
  --dark-primary-color: #512da8;
  --main-accent-color: #ffc107;
  --main-text-color: #212121;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
/*
.container {
  max-width: 600px;
  margin: auto;
} */

/*
.flex {
  display: flex;
}
*/

/* Header */

.dark-primary-color {
  background: var(--dark-primary-color);
}

.logo {
  width: 100%;
  display: flex;
  align-items: centers;
  padding: 0.5%;
}

a.text-primary-color {
  display: flex;
  color: #ffffff;
  text-decoration: none;
}

nav {
  padding: 0.8rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul {
  min-width: 10rem;
  display: flex;
  margin-right: 1rem;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  display: inline;
  color: #ffffff;
  text-decoration: underline;
  font-size: 1rem;
  /*padding: 1.25rem; */
  margin: 0.5rem;
}

li:hover {
  background-color: #ffc107;
}

.menu li {
  display: flex;
  justify-content: flex-end;
}

/* Main-Container */

main {
  display: block;
}

/* Hero-image */

#hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-image h1 {
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: white;
}

/* Image Attribution */

.image-attribute {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: var(--main-text-color);
}

/* Upcoming Launches */

.upcoming-launches h2 {
  margin: 0;
  padding: 1rem 0 1rem 0.5rem;
}

.launches {
  display: flex;
  flex-direction: row;
}

.launches h2 {
  margin: 0;
  padding: 1rem, 1rem, 0.5rem;
  border: 0.5rem solid black;
  background-color: #ffc107;
}

.accent-color {
  background: var(--main-accent-color);
}

/* Supporting Container */

.supporting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d1c4e9;
  font-size: 1.2rem;
}

*/ .light-primary-color {
  background: #d1c4e9;
}

/* Arrows */

.left.arrow {
  border-radius: 0rem 1rem 1rem 0rem;
}

.right.arrow {
  border-radius: 1rem 0rem 0rem 1rem;
}

.arrow {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 0rem 8rem 0rem;
  background-color: var(--main-accent-color);
  font-size: 1.8rem;
}

.arrow:active {
  background-color: var(--dark-primary-color);
}

/* Launch Card */

#launch-card {
  margin: 5rem 3rem;
  padding: 0 1rem 0.5rem 1rem;
  background-color: #ededed;
  border-radius: 0.5rem;
  padding-bottom: 0.75rem;
  border-bottom: darkgray 1px solid;
  width: 100%;
}

#launch-card h3 {
  text-align: center;
}

h3 {
  display: block;
  font-size: 1.2rem;
}

#launch-card svg {
  margin-right: 0.5rem;
}

#launch-card .information,
#launch-card .countdown,
#launch-card .location {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: darkgray 1px solid;
  text-align: center;
}

#launch-card .location {
  border-bottom: none;
}

.mission-name {
  border-bottom: darkgray 1px solid;
}

/* Mission Statement */

.supporting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-statement {
  text-align: center;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.mission-statement p {
  display: block;
  margin-block-start: 0.88em;
  margin-block-end: 0.88em;
  font-size: 1.5rem;
}

/* Footer */

footer {
  background-color: var(--dark-primary-color);
  color: #d1c4e9;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-primary-color {
  color: #cccccc;
}

.secondary-text-color {
  background: #673ab7;
}

a.secondary-text-color {
  color: #cccccc;
}
